/*The stylesheet for desktop computers and laptops*/
@media screen and (min-width: 401px) {

	/*---------selectors for elements in more than one page-----------------*/
	*{
		text-align: center;
		font-family: sans-serif;
	}

	body{
		background-color: Gainsboro;
		padding: 0;
		margin: 0;
	}

	.navigation{
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: rgb(0,90,90);
		border-bottom: solid 5px lightcyan;
		text-align: center;
	}

	.navigation a {
	  float: left;
	  font-size: 16px;
	  color: white;
	  text-align: center;
		letter-spacing: 3px;
	  padding: 14px 35px;
	  text-decoration: none;
	}

	.dropdown {
	  float: left;
	  overflow: hidden;
	}

	.dropdown .nav_button{
		font-size: 16px;
	  border: none;
	  outline: none;
	  color: white;
	  padding: 14px 35px;
	  background-color: inherit;
	}

	.nav_button{
		letter-spacing: 2px;
	}

	.navigation a:hover, .dropdown:hover .nav_button {
	  background-color: rgb(0,50,50);
	}

	.nav_dropdown_content{
		display: none;
		position: absolute;
	  background-color: rgb(0,150,150);
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.nav_dropdown_content a {
		float: none;
	  color: white;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}

	/* Show the dropdown menu on hover */
	.nav_dropdown_content a:hover {
	  background-color: rgb(0,90,90);
	}

	.dropdown:hover .nav_dropdown_content {
	  display: block;
	}

	#first_nav_entry{
		margin-left: 10%;
	}

	#last_nav_entry{
		margin-right: 15%;
	}

	.footer{
		width: 100%;
		min-height: 50px;
		margin: 0;
		padding: 0;
		border-top: solid 5px lightcyan;
		background-color: rgb(0,90,90);
	}

	.main_content{
		margin: auto;
		padding: 0;
		min-height: 30em;
		overflow: hidden;
	  width: 60%;
		color: rgb(0, 80, 80);
		display: block;
	}

	.contpane{
		margin-top: 1em;
		margin-bottom: 1em;
		background-color: white;
		border-radius: 5px;
		border: solid 5px darkgray;
	}

	.article_title{
		color: black;
		text-transform: uppercase;
		margin-left: 15px;
		margin-right: 15px;
	}

	.cont_highlight_pane{
		background-color: white;
		margin-left: 20px;
		margin-right: 20px;
		border-top: solid black;
		border-bottom: solid black;
	}

	.highlights{
		display: inline-block;
		margin: 1px 10px;
		color: navy;
		font-size: 20px;
		font-weight: bold;
	}

	.projectintro{
		color: black;
		text-align: left;
		font-size: 20px;
		line-height: 200%;
		margin-left: 3em;
		margin-right: 3em;
	}

	.image_container{
		margin: auto;
		width: 70%;
	}

	.image_container img{
		max-width: 100%;
		height: auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: solid black;
	}

	.pic_caption{
		margin-top: 1px;
		line-height: normal;
		color: rgb(0, 120, 120);
		font-size: 16px;
	}

	.footer_for_front_page{
		position: absolute;
		bottom: 0;
	}

	/*---------selectors for elements in the index page--------------*/
	.basics{
		position: relative;
	  width: 50%
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: white;
		border: solid gray;
		border-radius: 5px;
	}

	#namecard{
		top: 5em;
		height: 20em;
	}

	#profilepic{
		width: 30%;
		margin: 1em;
		float: left;
		position: relative;
		left: 1em;
		border: solid gray;
		border-radius: 50%;
	}

	#myname{
		padding: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 300%;
	}

	#myidentity{
	}

	/*----------selectors for elements in Auto-tracking_Robot.html---------*/
	#ATRobot{
		width: 17rem;
	}

	/*----------selectors for elements in Reflow_Oven_Controller.html---------*/
	#ROC_1{
		width: 31em;
	}

	#ROC_2{
		width: 31em;
	}


	/*----------selectors for elements in Educational_Profile.html---------*/
	.institution_intro{
		color: black;
		text-align: left;
		font-size: 20px;
		line-height: 200%;
		margin-left: 3em;
		margin-right: 3em;
	}

	.course_dropdown{
		display:none;
	}

	.course_btn: hover .course_dropdown{
		display: block;
	}

	.course_dropdown{
		display: block;
	}

	.course_button{
		color: black;
		background: linear-gradient(gainsboro, white);
		margin: 1em 2em;
	  padding: 1em 1em;
		letter-spacing: 2px;
		font-weight: 200;
		font-size: 16px;
		border-radius: 3px;
		cursor: pointer;
	}

	.course_button:hover{
		background-color: rgb(0,50,50);
	}

	.course_dropdown_content{
		display: none;
		z-index: 1;
	}

	/* Show the dropdown menu on hover */
	.course_dropdown:hover .course_dropdown_content {
	  display: block;
		position: relative;
		margin-left: 3em;
		margin-right: 3em;
		margin-top: 1em;
		background-color: gainsboro;
		border: solid gray 3px;
		border-radius: 3px;
	}

	.course_grade{
		margin-left: 3em;
		margin-right: 3em;
		font-size: 20px;
		font-weight: bold;
		color: navy;
		line-height: 200%;
		text-align: left;
	}

	.course_intro{
		color: black;
		font-size: 20px;
		line-height: 200%;
		margin-left: 3em;
		margin-right: 3em;
		text-align: left;
	}

	.course_skills{
		margin-left: 3em;
		margin-right: 3em;
		font-size: 20px;
		font-weight: bold;
		color: navy;
		line-height: 200%;
		text-align: left;
	}

	/*----------selectors for elements in More.html---------*/
	#Beautiful_BC{
		width: 31em;
		margin: 1em;
		border: solid black;
	}

	.contact_entry{
		color: navy;
		font-weight: bold;
		font-size: 1.25rem;
	}

	/*----------selectors for elements in Contact.html---------*/
	.footer_for_contact_page{
		position: absolute;
		bottom: 0;
	}
}
