/*---------selectors for elements in more than one page-----------------*/

*{
	text-align: center;
	font-family: sans-serif;
}

body{
	background-color: Gainsboro;
	padding: 0;
	margin: 0;
}

p{
	color: black;
	font-size: 20px;
	line-height: 200%;
	margin-left: 3em;
	margin-right: 3em;
}

.navigation{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: rgb(0,90,90);
	border-bottom: solid 5px lightcyan;
}

.dropdown{
	display: inline-block;
}

.button_wo_dropdown{
	text-decoration: none;
}

.nav_button{
	color: white;
	background-color: rgb(0,90,90);
	margin-left: 2em;
  margin-right: 2em;
  padding: 1em 1em;
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.nav_button:hover{
	background-color: rgb(0,50,50);
}

.nav_dropdown_content{
	display: none;
	z-index: 1;
}

.nav_dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
		float: center;
}

/* Show the dropdown menu on hover */
.dropdown:hover .nav_dropdown_content {
    display: block;
		position: absolute;
		background-color: lightcyan;
}


.footer{
	width: 100%;
	min-height: 4em;
	margin: 0;
	padding: 0;
	border-top: solid 5px lightcyan;
	background-color: rgb(0,90,90);
}

.main_content{
	margin: auto;
	padding: 0;
	min-height: 30em;
	overflow: hidden;
  width: 60%;
	color: rgb(0, 80, 80);
	display: block;
}

.contpane{
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: white;
	border-radius: 5px;
	border: solid 5px darkgray;
}

.articletitle{
	color: black;
}

.cont_highlight_pane{
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	border-top: solid black;
	border-bottom: solid black;
}

.highlights{
	text-align: left;
	color: navy;
	font-weight: bold;
	line-height: 100%;
	border-radius: 10px;
}

/*---------selectors for elements in the index page--------------*/
.basics{
	position: relative;
  width: 50%
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	border: solid gray;
	border-radius: 5px;
}

#namecard{
	top: 5em;
	height: 20em;
}

#profilepic{
	width: 30%;
	margin: 1em;
	float: left;
	position: relative;
	left: 1em;
	border: solid gray;
	border-radius: 50%;
}

#myname{
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 300%;
}

#myidentity{
}

#footer_for_front_page{
	position: absolute;
	bottom: 0;
}


/*----------selectors for elements in Auto-tracking_Robot.html---------*/
.container-ATR_pictures{
	margin:auto;
}

#ATRobot{
	width: 17em;
	margin: auto;
	border: solid black;
}

#indpic1{
	width: 25em;
}

#indpic2{
	width: 18em;
}

.indpic{
	margin: 2em;
	border: solid black;
	float: center;
}

.projectintro{
	text-align: left;
}
